.jp-presentation{
    margin-top: 10vh;
 

    .container{
        display : flex;
        flex-direction: row;
        margin: auto;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        .body-text{
            flex : 0 1 55%;
            text-align: justify;

            h2{
                font-family: $fonth2;
                color: $color2;
                margin-bottom: 2vh;
            }
            
            
            .social{
                display: flex;
                flex-wrap: wrap;
            }
           
        }

       

       .portrait
       {
            flex : 0 1;
            width: 300px;
            height: 400px;
            border-radius: 5%;
        }

        .body-hastag{
            margin-top : 2vh;
            font-family: $font1-italic;
            font-style: italic;
            font-size: 12px;
            padding:0.4%;
            padding-right: 2%;

            color: grey;
            margin-right: 1vw;
        }
            
    }

    @media screen and (min-width: 80em) {
        .container {
            width: 85vw;
        }
    }


}